{% load static%}
<!DOCTYPE html>
<html lang="en">
{%block head%}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'shipping/signstyle.css' %}"/>
    <title>{{request.user}}</title>
{% endblock %}
{%block content%}
 <main>
        <section>
            <form method="post" action="">
                {% csrf_token %}
                <h3>Enter Address</h3>
                {{ form.as_p}}
            <button type="submit">
                Confirm
            </button>
            </form>
        </section>
    </main>
{% endblock %}
